/node_modules
/test
.git
.github
README.md
.gitignore
.prettierrc
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
/data
.temp
.tmp
.DS_Store
.idea
.vscode
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace